
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Noto+Serif+Display:ital,wght@0,200;0,300;0,500;0,900;1,100;1,300;1,500&display=swap');

*{
 font-family: 'Noto Serif Display', serif;
}

p {
	color: #2E3638;
}

body {
  margin: 0px;
  background-color: #ecebe4;
  border: solid;
  border-width: 20px;
  border-color: #fff;
}

h2 {
 	color: #2a9d8f;
	font-family: 'Noto Serif Display', serif;
  font-weight: 300;
	font-size: 3em;
  padding-bottom: 0;
  margin-bottom: 0;
  font-style: italic;
  margin-top: 0;
}

h3 {
 	color: #f4a261;
  font-family: 'Noto Serif Display', serif;
	font-size: 18px;
  line-height: 0.5;
  padding-top: 20px;
}

h1 {
	color:   #062439;
	font-family:'Noto Serif Display', serif;
  font-size: 4em;
  font-style: italic;
  font-weight: 500;
	}

.navigation li {
	display: flex;
  flex-direction: row;
  margin:  0;
}

.navigation li a:hover {
  background-color: #264653;
  display: block;
}


.maintext {
    margin-left: 2%;
    width: 95%;
  }

.introlink {
  color: #2a9d8f;
  font-family: 'Noto Serif Display', serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1.4em;
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.introlink a{
  text-decoration: none;
  color: #2a9d8f;
}
.introlink a:hover {
  text-decoration: underline;
  color: #264653;
}

.navigation {
  list-style-type: none;
  margin: 0px;
  overflow: hidden;
  background-color: #2a9d8f;
  position: centre;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: left;
  padding-left: 0;
}


.navigation li a {
  display: block;
  color: #EDEDE9;
  text-align: center;
  text-decoration: none;
  margin-bottom: 0;
  font-weight: 400;
  padding-left: 7px;
  padding-right: 7px;
}


li a .logo
{
display: flex;
padding-left: 0px;
}

.intro {
   padding-top: 2%;
   margin-top: 0;
		margin-left: 3%;
		width: 85%;
	}

.headerimg {
		padding-top: 30px;
		width:  100%;
	}


.para {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 2;

}
.parabod{
  max-width: 950px;
  border-left: solid;
  border-left-width: 3px;
  border-color: black;
  padding-left: 1%;
  margin-bottom: 1%;
  line-height: 1.5em;
  font-size: 1.6em;

}
.parahead {
  max-width: 310px;
  min-width: 310px;
}

.maintext{
  padding-top: 2%;
}

.circleimg ul {
  display: flex;
  flex-direction: row;
  width: 65%;
  margin-left: 5%;
}

.circleimg li {
  list-style: none;
}


.project {
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.projectitem
{
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 600px;
  flex-grow: 1;
  flex-basis: auto;
  background-color: #fff;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  margin-right: 2%;
  margin-bottom: 1%;
}

.projectitem p
{
    font-size: 16px;
    padding: 0;
    line-height: 1.4;

}

.skills {
  display: flex;
  flex-direction: row;
}
.skillsimg
{
  padding-bottom: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 799px){
.navigation {
  display: none;
  }

 /* (A) BREAK INTO VERTICAL MENU */
#hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    text-decoration: none;
    color: #2a9d8f;
    font-size: 3em;
  }
#hamitems a:hover {
  text-decoration: underline;
  color: grey;
}
 
/* (B) SHOW HAMBURGER ICON */
  #hamnav label { 
    display: inline-block; 
    color: white;
    background:#2a9d8f;
    font-style: normal;
    font-size: 1.6em;
    padding: 20px;
    text-decoration: none;
  }

/* (C) TOGGLE SHOW/HIDE MENU */
#hamitems { 
  display: none; 
}
#hamburger{
  display: none;
}
#hamnav input:checked ~ #hamitems { 
  display: block; 
}


.intro {
  margin-top: 60px;
  font-size: 6vw;
  }

.projectintro p{
  font-size: 6vw;
  padding-top: 0;
  margin-top: 0;
 }
 .alicepic {
margin-bottom: -40%;
opacity: 80%;
}
}

@media screen and (min-width: 800px) {
.navigation {
  font-size: 2vw;
  line-height: 2em;
  }

#hamnav {
  display: none;
}

.intro {
    margin-top: 60px;
  }

.intro p {
  font-size: 3vw;  
  line-height: 1.4em;
}

.projectintro p{
  font-size: 3vw;
  padding-top: 0;
  margin-top: 0;
}
.lowpic {
width: 100%;
padding-left: 30%;
}
.hipic {
padding-left: 40%;
margin-bottom: -20%;
opacity: 20%;
}
.alicepic {
padding-left: 70%;
margin-bottom: -25%;
opacity: 80%;
width: 30%;
}

.personahipic {
padding-left: 55%;
margin-bottom: -20%;
opacity: 30%;
}

}




